@charset "utf-8";
/* 基础css */

*{ padding:0; margin:0; line-height:100%;}
body{ font-size:12px;}
ul,ol{ list-style:none;}
a{ color:#000; text-decoration:none;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal;}
i,em{ font-style:normal;}
b,strong{ font-weight:normal;}
a img{ border:none;}
img{ vertical-align:top;}
input{ outline:none; border:none 0;}
textarea{ resize:none;}

.clearfix:after{ clear:both; content:''; display:table;}
.clearfix{*zoom:1;}

table{ border-collapse:collapse;}
tr,th,td{ border:1px solid #000; padding:0;}

.fl{ float: left; !important;}
.fr{ float: right; !important;}